#header {height:94px; background:#ffffff; border-bottom:2px solid #abb0b4}

/* These styles are repeated here because they are otherwise wrapped in media queries in the phoenix stylesheet */
#block-views-homepage-feed-block h2, #block-views-news-summarynewsblock h2 { color: #800000 !important; }
#block-views-homepage-feed-block, #block-views-news-summarynewsblock { background:#eaeae2 url("../../images/modulebg.gif") bottom left repeat-x; border-top:5px solid #800000; }
#block-events h2, #block-uceventslist-uceventsblock h2 { color: #800000 !important; }
#block-events, #block-uceventslist-uceventsblock { border-top:5px solid #800000; background:#eaeae2 url("../../images/modulebg.gif") bottom left repeat-x; }
